body
{
  font-size: 120%;
  font-family: Arial, sans-serif;
}

header#site_header {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  width: 84%;
  margin: 15px 4% 50px;
  padding: 5px 4%;
  color: white;
  text-shadow: 5px 5px 3px darkgreen;
  border-radius: 15px;
  border: 2px solid darkgreen;
  background-color: green;
}

table {
  border: 1px solid green;
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  margin-left: 200px;
  -webkit-transition: background-color 5s; /* For Safari 3.1 to 6.0 */
  transition: background-color 5s;
}

img#line{
  -webkit-filter: drop-shadow(8px 8px 10px green);
   filter: drop-shadow(8px 8px 10px green);
}

table:hover{
  background-color: green;
}


td {
  border: 1px solid darkgreen;
  padding: 5px;
  text-align: right;
  background-color: white;
}

th {
  border: 1px solid darkgreen;
  background-color: green;
  color: white;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
}

tfoot tr td, tfoot tr th{
  background-color: lightgreen;
  text-align: center;
  font-style: italic;
  font-size: 24px;
  color: black;
  text-shadow: 5px 5px 5px darkgreen;
}

th.white {
  background-color: white;
  text-align: center;
}
