body
{
  font-size: 100%;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  width: 92%;
  float: left;
  margin: 2%;
/*  margin-left: 2%;*/
  padding: 2%;
  color: blue;
  display: block;
  border: none;
  border: solid blue 3px;
  border-radius: 10px;
}

legend{
  text-align: center;
  color: blue;
}

label{
  color: blue;
}


input{
  color: blue;
  background-color: cyan;
  border: none;
  border-bottom: solid blue 1px;
  border-right: solid blue 1px;
}

input.bottone{
  background-color: cyan;
  color: blue;
  font-weight: bold;
  text-align: center;
  padding: 1%;
  margin-top: 2%;
  margin-left: 5%;
  border-width: 3px;
  border-radius: 5px;

}
